{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}
  <p>После подтверждения выбранные кампании будут поставлены в очередь. Массовая отправка выполняется отдельным worker.</p>
  <ul>
    {% for campaign in queryset %}<li>{{ campaign }}</li>{% empty %}<li>Нет доступных draft-кампаний.</li>{% endfor %}
  </ul>
  <form method="post">
    {% csrf_token %}
    {% for campaign in queryset %}
      <input type="hidden" name="{{ action_checkbox_name }}" value="{{ campaign.pk }}">
    {% endfor %}
    <input type="hidden" name="action" value="{{ action_name }}">
    <input type="hidden" name="confirm_publish" value="yes">
    <input type="submit" value="Подтвердить и поставить в очередь">
    <a href="../">Отмена</a>
  </form>
{% endblock %}
